@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.nav-container{
    z-index: 999;
    width: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{  
    color: white;
    position: fixed;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar ul li{
    cursor: pointer;
    padding: 10px 15px;
    list-style: none;
    text-decoration: none;
    margin: 0px 10px ;
    transition: ease-in 0.5s;
    border-radius: 5px;
}

.nav-bar ul li:hover,.active{
    transition: ease-out 0.5s;
    background-color: #333F5D;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.logodiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ham{
    display: none;
    cursor: pointer;
}

@media(max-width: 780px){
    .ham{
        display: block;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
    }

    .nav-bar ul{
        display: none;
        width: 100%;
        background-color: #000000;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-bar ul li{
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
    }

    ul.show {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

}

.navBgColor{
    background-color: black;
}

.in-transition{
    transition: ease-in 0.5s;
}

.out-transition{
    transition: ease-out 0.5s;
}


/* Contact CSS */
.products-container{
    background: linear-gradient(to bottom,#000000,#333F5D);
    padding: 150px 10vw 50px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg_products.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.soon{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}



.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff; */
    background-image: url('/images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-footer img{
    height: 90px;
}

.sm{
    height: 30px;
    margin: 20px 10px;
    cursor: pointer;
}

.quote-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-div p{
    padding: 20px 50px;
    margin: 15px 10vw;
    background-color: #EEEEEE;
    border-radius: 10px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

/* Copyrights */
.copyrights{
    background-color: #333F5D;
    color: white;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.copyrights p{
    text-align: center;   
}